body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.hero h2 {
	font-family: 'Rock Salt', cursive;
	color: white;
	font-size: 65px;
	font-weight: 500;

}
.hero h3{
	font-family:cursive;
	font-family: 'Merriweather', serif;
	color: white;
	font-size: 50px;
}

h1{
	color: #501b1d;
}
h2 {
	font-size: 30px;
	line-height: 1.25em;
	color: #64485c;
}
	
h3 {
	line-height: 1.5em;
	font-size: 25px;
	color: #df744a;
}
  
p {
	color: #52575c;
	font-size: 22px;
	font-weight: 400;
}


.wrapper h1, .wrapper h2, .wrapper p, .wrapper li {
	text-align: left;
	margin: 30px 65px;
}

.wrapper1 {
	margin: auto;
	text-align: center;
	background: pink;
	justify-content: space-evenly;
}

.box img {
	display: block;
	position: relative;
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
  
.box:hover img {
	filter: grayscale(1) blur(2px);
	-webkit-filter: grayscale(1) blur(2px);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
    
.box p {
	display: inline-block;
	width: 100%;
	padding: 0 10px;
	text-align: center;
	align-items: center;
	font-size: 18px;
	background-color: rgb(131, 131, 131);
	transform: scale(0.7);
	-webkit-transition: all 0.4s ease-in;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transition: all 0.4s ease-in;
	opacity: 0;
	filter: alpha(opacity=0);
	color: #d5d5d5;
}
  
.box p:hover {
	box-shadow: 0 0 15px #808080;
	text-align: center;
	align-items: center;
}
  
  
.box:hover p {
	opacity: 1;
	width: 100%;
	filter: alpha(opacity=100);
	transform: scale(1);
	text-align: center;
	align-items: center;
	font-size: 20px;
}

  
  

.all_projects, .about {
	display: flex;
	flex-direction: column;
	align-items: left;
	font-size: 28px; 
	padding: 0px 10px;
}

.all_projects{
	overflow: auto;
	margin-left: 10%;
}

.about{
	font-size: 20px;
	color: #52575c;
}

.box_a:hover .icon_r{
	background:red;
	transition: 0.5s;
}
.box_a:hover .icon .fa {
	font-size: 40px;	
}

.box_a:hover .icon_r .fa{
	font-size: 80px;
	color: white;
}

.box_a:hover .content_a{
	opacity: 1;	
}

/*  */


/* confirmed */
.fixnavbar {
	background-color: rgb(119, 147, 199);
	width: 100%;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
	height: 70px;
	position: fixed;
}
  
.fixnavbar> ul{
	margin: 0;
	padding: 0;
	float: center;
	list-style-type: none;
}
.fixnavbar>ul>li{
	float: left;
}

.fixnavbar ul li a{
	display: inline-block;
	padding: 15px 20px;
	height: 40px;
	line-height: 40px;
	color: yellow;
}

.fixnavbar a:hover{
	background: paleturquoise;
}


header{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-weight: 500;
	top: 0;
	background: transparent;
	position: absolute;
	overflow: hidden;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding:0px 20px;
}

.nav_links li a, .nav1 a{
	transition: all 0.3s ease 0s;
	display: block;
	text-decoration: none;
	line-height: 10px;
	text-transform: uppercase;
	border-bottom: 3px solid translate;
	color: white;
	
}

.nav_links li a:hover, .nav1 a:hover{
	color: #df744a;
	opacity: 30%;
	border-bottom: 2px solid #df744a;
}



.hero{
	width: 100%;
	height: 100vh;
	display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/uploads/1413259835094dcdeb9d3/6e609595?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.hero-inner .button{
	display: block;
	width: 180px;
	margin-top: 40px;
	border: 3px solid whitesmoke;
	color: whitesmoke;
    text-decoration: none;
	font-size: 1.5em;
	border: 3px solid white;
	border-radius: 20px;
	background-color: yellowgreen;
}

.resize, .resize2, .rs_m, .rs_p, .rs_p2{
	opacity: 1;
	display: block;
	object-fit: cover;
	object-position: center center;
	overflow: hidden;
	border-radius: 3%;
}

.resize{
	height: 280px;
}
.resize2{
	height: 200px;
}
.rs_m{
	width: 100%;
}
.rs_p{
	width: 60%;
}
.rs_p2{
	width: 300px;
}
.resize:hover, .resize2:hover{
	opacity: 0.3;
  }

 

#env{
	background:#e24e42;
}
#phone{
	background:#e98000;
}
#linked{
	background:#e86e80;
}
#git{
	background:#008f95;
}

.icon_r{
	background: white;
}
/*about me*/

.container{
	padding: 1em;
	margin: 0.5em;
	display: inline-block;
}


.container .box{
	position: relative;
	float: center;
	box-sizing: border-box;
	cursor: default;
	text-align: center;
	width: 100%;
	background: grey;
	justify-content: space-evenly;
}

.container .box_a{
	position: relative;

	box-sizing: border-box;
	
	text-align: center;
	width: 100%;
}


.container_a {
	margin: auto;
	width: 80%;
	justify-items: center;
}

.container_a .box_a{
	position: relative;
	box-sizing: border-box;
	
	margin-left: 10px;
	width: 180px;
	height: 130px;
	float: center;
	overflow: hidden;
	border-radius: 10px; 
	justify-content: space-evenly;
}

.container .box_a{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin: auto;
	width: 180px;
	height: 130px;
	float: center;
	overflow: hidden;
	background: #9b9b9b;
	border-radius: 10px; 
}


.container_a .box_a .icon{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	transition: 0.5s;
	z-index: 1;
}

.middle{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.icon_r{
	width:100%;
	height: 100%;
}



.icon .fa, .icon_r .fa{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.5s;
	color: white;
}

.icon_r .fa{
	color: red;
}

.content_a{
	position: absolute;
	height: calc(100% - 50px);
	top: 50px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	font-size: 20px;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}
